*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}


body{
	font-family: 'Montserrat', sans-serif;
}

.Inicio{
	background: rgb(131,58,180);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 57%);
	color: white;
	padding: 100px;
}

a{
	color: #20201F;
}

.b:hover,.c:hover,.a:hover{
	background: #20201F;
	color: #dedede;
	transition: .5s;
}

.b{
	border-radius: 5px;
  	padding: 10px;
  	background: #dedede;
  	margin-top: 20px;
  	font-family: 'Montserrat';
  	width: 140px;
  	outline: none;
  	border: none;
  	box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
}

.a{
	border-radius: 5px;
  	padding: 10px;
  	background: #dedede;
  	margin-top: 40px;
  	font-family: 'Montserrat';
  	width: 140px;
  	position: relative;
  	left: 45%;
  	border: none;
  	box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
}

.c{
	border-radius: 5px;
  	padding: 10px;
  	background: #dedede;
  	margin-top: 20px;
  	font-family: 'Montserrat';
  	width: 140px;
  	border: none;
  	box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
}

.sobre{
	background: rgb(0,215,218);
	background: linear-gradient(0deg, rgba(0,215,218,1) 0%, rgba(255,255,255,1) 100%);
	color: white;
	padding: 200px;
}

.rows{
	padding: 100px;
}

.contat{
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,215,218,1) 100%);
	color: white;
	padding: 30px;
}
.rows h1{
	position: relative;
	left: 45%;
	margin-top: 20px;
	margin-bottom: 40px;
}

.contat h1{
	position: relative;
	left: 30%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  position: relative;
  left: 1%;
  width: 400px;
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
 
.card p {
  color: #a3a5ae;
  font-size: 16px;
}

input{
	width: 40%;
	height: 40px;
	margin-top: 50px;
	outline: none;
	position: relative;
	left: 30%;
	margin-bottom: 15px;
	border: none;
	border-radius: 5px;
	font-family: "Open sans", sans-serif;
	box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
	cursor: pointer;

}

textarea{
	width: 40%;
	outline: none;
	position: relative;
	left: 30%;
	height: 140px;
	border: none;
	border-radius: 5px;
	font-family: "Open sans", sans-serif;
	box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);

}

nav{
	background: white;
	color: #20201F;
	height: 80px;
	width: 100%;
}

nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin-right: 0 5px;
}

nav ul li a{
	color: #20201F;
	font-size: 17px;
	padding: 7px 13px;
	text-transform: uppercase;

}

a.active, a:hover{
	color: #dedede;
	transition: .5s;
}

.checkbtn{
	font-size: 30px;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check{
	display: none;
}

label.logo{
	font-size: 35px;
	line-height: 80px;
	padding: 0 30px;
	font-weight: bold;
}

@media(max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}

@media(max-width: 858px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: white;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	a.active, a:hover{
		background: none;
		color: #dedede;
	}

	#check:checked ~ ul{
		left: 0;
	}
}


div.main-content{
	background: white;
	color: #20201F;
	display: flex;
	font-family: 'Open Sans', sans-serif;
}

/*FOOTER*/
footer{
	bottom: 0px;
	width: 100%;
}

.main-content .box{
	flex-basis: 50%;
}

.box h2{
	font-size: 18px;
	font-weight: 600px;
	text-transform: uppercase;
}

.box .content{
	margin: 20px 0 0 0;
	position: relative;
}
.box .content:after{
	position: absolute;
	content: "";
	width: 15%;
	height: 2px;
}

.box .content:before{
	position: absolute;
	content: "";
	height: 2px;
	width: 100%;
	top: -10px;
}

.left .content .social{
	margin: 20px 0 0 0;
}

.left .content p{
	font-size: 14px;
}

.left .content .social a{
	padding: 0 2px;
}

.left .content .social a span{
	width: 45px;
	height: 45px;
	text-align: center;
	color: #20201F;
	line-height: 45px;
	border-radius: 50%;
	font-size: 18px;
	transition: .5s;
}

.left .content .social a span:hover{
	color: white;
	background: #20201F;
}
.left .content p{
	text-align: justify;
}

.center .email{
	margin: 20px 0 0 0;
}

.center .email a{
	padding: 0 2px;
}


.center .email a span{
	background: white;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	color: #20201F;
}

.center .email a span:hover{
	background: #20201F;
	color: white;
	transition: .5s;
}

.center .Numero{
	margin: 10px 0;
}

.center .Numero a{
	padding: 0 2px;
}

.center .Numero a span{
	background: white;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	color: #20201F;
	cursor: pointer;
}

.center .Numero a span:hover{
	background: #20201f;
	color: white;
	transition: .5s;
}

.center .text{
	font-size: 17px;
	font-weight: 500;
	padding-left: 10px;
}

.right .msg{
	margin-top: 10px;
}

.right form input, .right form textarea{
	width: 100%;
	font-size: 17px;
	padding-left: 10px;
	border: 1px solid;
	outline: none;
}

.right form input{
	height: 35px;
}

.right form .text{
	font-size: 17px;
	margin-bottom: 2px;
	color: black;
}

.right form .btn{
	margin-top: 10px;
}

.right form .btn button{
	height: 40px;
	width: 100%;
	background: white;
	font-size: 17px;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	border: none;
	color: #004eff;
	transition: .5s;
}

.right form .btn button:hover{
	background: #004eff;
	color: white;
}

.bottom .center{
	padding: 5px;
	font-size: 15px;
	background: white;
	color: white;
	text-align: center;
}

.bottom .center span{
	color: #20201f;
	font-family: 'Open Sans', sans-serif;
}
.bottom .center a{
	color: #20201f;
	text-decoration: none;
}
.bottom .center a:hover{
	text-decoration: underline;
}

@media (max-width:  850px){
	.card{
		width: 70%;
	}
}
